GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
GITHUB_OWNER=jonschumann
GITHUB_REPO=dadmanual
GITHUB_BRANCH=hardware-manuals
ILLUSTRATIONS_PATH=dadman-docs/ILLUSTRATIONS.md
STATIC_IMG_PATH=dadman-docs/static/img
DOCS_PATH=dadman-docs/docs
CACHE_TTL_MINS=5
PORT=3001
